* {
    font-family: Helvetica, Arial, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    position: relative;
    background: darkgrey;
}

#logo {
    width: 200px;
}

header {
    display: flex;
    align-items: center;
    border: 4px outset slategrey;
    background-color: lightslategrey;
}

a {
    border: 3px outset grey;
    padding: 5px;
}

input[type="range"] {
    width: 100%;
    height: 15px;
    margin: 0;
    border-radius: 5px;
    outline: none;
    cursor: pointer;
}



.inputContainer {
    width: 200px;
    padding: 5px;
    border: 4px outset slategrey;
    background-color: #a0b4b2;
}

.fullWidth {
    width: 100%;
}

.roomContainer, .sceneContainer {
    width: 210px;
    padding: 5px;
    border: 2px solid black;
    background-color: #a0b4b2;
}

.sceneContainer ul {
    padding-left: 20px;
}

.devices {
    list-style-type: none;
    padding-left: 0;
}

.devices div {
    background-color: lightskyblue;
    padding: 2px;

}

.devices li {
    border: 1px solid grey;
    margin: 2px 0 2px 0;
}

.device {
    display: flex;
    align-items: center;
}

.deviceOptions {
    width: 75%;
}

.deviceStatus {
    width: 25%;
 }

.light {
    /*background: radial-gradient(ellipse at center, rgba(255, 255, 0, 1) 0%, rgba(255, 255, 0, 1) 90%, rgba(255, 255, 255, 0) 100%);*/
    background-image: url("/static/images/light.png");
    background-size: contain;
    border-radius: 50% !important;
    height: 2em; width: 2em;
    margin: auto;
}

.coffee {
    background-image: url("/static/images/coffee.png");
    background-size: contain;
    border-radius: 50% !important;
    height: 2em; width: 2em;
    margin: auto;
}

.shutter {
    width: 48px;
    height: 48px;
    border:2px solid grey;
    background-image: url("/static/images/shutter.png"), url("/static/images/cloud.png");
    background-repeat: no-repeat, no-repeat;
    background-position-y: top, bottom;
    background-size: contain;
}

#content {
    position: absolute;
    left: 200px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    width: -moz-available;
}

.subContent {
    min-width: 220px;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    background: lightslategrey;
    border: 4px outset slategrey;
}

#sideBar {
    position: absolute;
    left: 0;
}

.info {
    background-color: peachpuff;
    text-align: center;
}

.containerHead {
    text-align: center;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.5em;
}

.timeButton {
    width: 48px;
    height: 48px;
}

.edit {
    cursor: pointer;
    height: 1.5em;
    float: right;
}

.icon {
    height: 1.5em;
    cursor: pointer;
    background-color: white;
}

.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}

.optionContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    background: white;
    transform: translate(-50%,-50%);
}

.optionContainer > div {
    display: flex;
    border: 1px solid black;
    margin: 5px;
    padding: 5px;
}

#selectSunrise {
    background: url("/static/images/sunrise.png") white;
    background-size: contain;
}

#selectSunset {
    background: url("/static/images/sunset.png") white;
    background-size: contain;
}

#selectTime {
    background: url("/static/images/clock.png") white;
    background-size: contain;
}

/* Simulator Styles */
h1 {
    text-align: center;
}

.simButton {
    width: 49%;
}

#simContainer {
    min-width: 320px;
    width: 400px;
    margin: auto;
    padding: 5px;
    border: 5px outset lightsteelblue;
    background-color: lightsteelblue;
}

#simContainer label {
    display: flex;
    justify-content: space-between;
}

#simTimeContainer {
    font-size: 2em;
    text-align: center;
    background-color: cornflowerblue;
}

#simStateContainer {
    font-size: 2em;
    text-align: center;
    border-radius: 5px;
}

@media only screen and (max-width: 400px) {
    #sideBar {
        position: unset;
        width: 100%;
    }

    #content {
        width: 100%;
        position: unset;
    }

    .inputContainer, .subContent {
        width: unset;
    }

    .roomContainer {
        width: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
    }
}