<body id="controlBody">
    <header>
        <img src="/static/images/logo.png" id="logo">
        <a href="/simulator">Simulator</a>
    </header>
    <div id="sideBar">
        <!-- Room Inputs -->
        <div class="inputContainer">
            <span class="containerHead">Rooms</span>
            <form method="post">
                <input type="hidden" name="action" class="fullWidth" value="insertRoom">
                <label for="roomName">Room name:</label>
                <input type="text" name="room" class="fullWidth" required>
                <input type="submit" class="fullWidth" value="Create room">
            </form>
        </div>

        <!-- Device Inputs -->
        <div class="inputContainer">
            <span class="containerHead">Add device</span>
            <form method="post">
                <input type="hidden" name="action" value="insertDevice">
                <label for="deviceType">Choose type:</label>
                <select id="deviceType" name="deviceType" class="fullWidth" required>
                    <option value="default">Select device</option>
                    {{range .BaseDevices}}
                        <option value="{{.Type}}">{{.Type}}</option>
                    {{end}}
                </select>

                <label for="deviceRoom">Choose room:</label>
                <select id="deviceRoom" name="deviceRoom" class="fullWidth" required>
                    <option value="default">Select room</option>
                    {{range .User.Room}}
                        <option value="{{.Id.Hex}}">{{.Name}}</option>
                    {{end}}
                </select>
                <label for="deviceName">Device name:</label>
                <input type="text" id="deviceName" class="fullWidth" name="deviceName" required>
                <input type="submit" class="fullWidth" value="Create device">
            </form>
        </div>

        <!-- Scene Inputs -->
        <div class="inputContainer">
            <span class="containerHead">Scenes</span>
            <form method="post">
                <input type="hidden" name="action" value="insertScene">
                <label for="sceneName">Select name:</label>
                <input type="text" id="sceneName" name="sceneName" class="fullWidth" required>
                <label for="sceneDate">Select date:</label>
                <input type="date" id="sceneDate" name="sceneDate" class="fullWidth" required>
                Select time:
                <div>
                    <button type="button" class="timeButton" id="selectSunrise" title="Not in use" disabled></button>
                    <button type="button" class="timeButton" id="selectSunset" title="Not in use" disabled></button>
                    <button type="button" class="timeButton" id="selectTime"></button>
                </div>
                <div>
                    <input type="text" name="sunTime" class="fullWidth" style="display: none" readonly disabled>
                    <input type="time" name="clockTime" class="fullWidth" style="display: none" disabled>
                </div>
                <div>
                    <label for="offsetToggle">Offset(minutes):</label>
                    <input type="checkbox" id="offsetToggle" disabled>
                    <input type="number" name="offset" min="0" max="60" step="1" class="fullWidth" style="display: none" disabled>
                </div>
                <div>
                    <label for="daily">Daily:</label>
                    <input type="checkbox" name="daily" id="daily">
                </div>
                <input type="submit" class="fullWidth" value="Create scene">
            </form>

        </div>
    </div>

    <div id="content">
        <div class="subContent">
            <h2 class="fullWidth">Rooms</h2>
            {{range .User.Room}}
                {{template "room.html" .}}
            {{end}}
        </div>
        <div class="subContent">
            <h2 class="fullWidth">Scenes</h2>
            {{template "scene.html" .User}}
        </div>
    </div>

    <script type="text/javascript" src="/static/js/main.js"></script>
</body>
</html>