<div class="device">
    {{if ( eq .Type "Light") }}
        <data value="{{.Id.Hex}}"></data>
        <div class="deviceOptions">
            <div>{{.Name}}</div>
            <input type="range" class="lightSlider" min="0" max="100" step="1" value="{{.State}}" title="Adjust brightness">
        </div>

        <div class="deviceStatus">
            <div class="light"></div>
        </div>
    {{else if ( eq .Type "Shutter") }}
        <data value="{{.Id.Hex}}"></data>
        <div class="deviceOptions">
            <div>{{.Name}}</div>
            <input type="range" class="shutterSlider" min="0" max="100" step="1" value="{{.State}}" title="Adjust degree of openess">
        </div>

        <div class="deviceStatus">
            <div class="shutter">
            </div>
        </div>
    {{else if ( eq .Type "Coffee machine") }}
        <data value="{{.Id.Hex}}"></data>
        <div class="deviceOptions">
            <div>{{.Name}}</div>
            <select class="coffeeSelect" title="Select a beverage">
                <option value="default">Off</option>
                <option value="Coffee">Coffee</option>
                <option value="Espresso">Espresso</option>
                <option value="Latte">Latte</option>
                <option value="Cocoa">Cocoa</option>
            </select>
        </div>

        <div class="deviceStatus">
            <div class="coffee"></div>
        </div>
    {{end}}
</div>